# API Config
PORT=3000
JWT_SECRET=generate_a_long_random_string_here
ADMIN_USER=admin
ADMIN_PASSWORD_HASH= (hashed password)
ADMIN_PASSWORD_SALT= (salt)

# WireGuard Config
WG_INTERFACE=wg0
WG_PORT=51820
SERVER_IP= (Your public IP)
VPN_SUBNET=10.0.0.1
VPN_SUBNET_V6=fd00::1
SERVER_MTU=1420
CLIENT_DNS=1.1.1.1,8.8.8.8

# Optional: Binaries (usually defaults in Docker)
# SUDO_BIN=/usr/bin/sudo
# WG_BIN=/usr/bin/wg
# WG_QUICK_BIN=/usr/bin/wg-quick
